body {
    background-color: lightblue;
    opacity: 70%;
    width: 150px;
    height: 150px;
}
h1 {
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}
button {
      border:2px solid black;
      width:100px;
      padding-bottom: 10px;
      background-color: lightblue;
      opacity:70%;
      text-align:center;
      height:50px;

      border-radius:100px;
      color: black;
      margin:0 auto;
      transition:all .3s;
      position:relative;

      line-height:42px;
      text-transform:uppercase;
      font-weight:700;
      font-size:14px;
}
.but {
  text-align: center;
}
.pass {
  background-color: lightgray;
  height:25px;
}
#passbox {
  padding-right: 5px;
  padding-left:5px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
